{% extends "base.html" %}

{% block header %}
<div>
      <h3 class="float-md-start mb-0">Towns</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link" href="{% url 'index' %}">Home</a>
        <a class="nav-link active" aria-current="page" href="{% url 'towns:index' %}">Towns</a>
        <a class="nav-link" href="{% url 'pc_info:index' %}">PC_Info</a>
        <a class="nav-link" href="{% url 'weather_bot:index' %}">Weather Bot</a>
        <a class="nav-link" href="{% url 'gold:index' %}">Gold Rates</a>
        <a class="nav-link" href="{% url 'upscaler:index' %}">UpScaler</a>
        <a class="nav-link" href="{% url 'git' %}">GitHub</a>
        <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
      </nav>
    </div>
{% endblock header %}

{% block main %}
    <h1>
        <a href="{% url 'towns:search_by_town' 'Шард' %}" class="text-white">Шард</a><br>
        <a href="{% url 'towns:search_by_town' 'Ичусека' %}" class="text-white">Ичусека</a><br>
        <a href="{% url 'towns:search_by_town' 'Флидбург' %}" class="text-white">Флидбург</a><br>
    </h1>
{% endblock main %}

{% block footer %}
    <p>(Towns names are clickable)</p>
{% endblock footer %}
