{% extends "base.html" %}

{% block header %}
  <div>
    <h3 class="float-md-start mb-0">Home</h3>
    <nav class="nav nav-masthead justify-content-center float-md-end">
      <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
      <a class="nav-link" href="{% url 'towns:index' %}">Towns</a>
      <a class="nav-link" href="{% url 'pc_info:index' %}">PC_Info</a>
      <a class="nav-link" href="{% url 'weather_bot:index' %}">Weather Bot</a>
      <a class="nav-link" href="{% url 'gold:index' %}">Gold Rates</a>
      <a class="nav-link" href="{% url 'git' %}">GitHub</a>
      <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
    </nav>
  </div>
{% endblock header %}

{% block main %}
  <h1>
    <h1>Hi, I'm holy_alexis!</h1>
    <br>
    <p>I'm dev of this site-portfolio<br>Navigation on the top of this page<br>Enjoy!</p>
  </h1>
{% endblock main %}

{% block footer %}
  <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
{% endblock footer %}
