{% extends "base.html" %}

{% block header %}
  <div>
    <h3 class="float-md-start mb-0">Gold Rates</h3>
    <nav class="nav nav-masthead justify-content-center float-md-end">
      <a class="nav-link" href="{% url 'index' %}">Home</a>
      <a class="nav-link" href="{% url 'towns:index' %}">Towns</a>
      <a class="nav-link" href="{% url 'pc_info:index' %}">PC_Info</a>
      <a class="nav-link" href="{% url 'weather_bot:index' %}">Weather Bot</a>
      <a class="nav-link active" aria-current="page" href="{% url 'gold:index' %}">Gold Rates</a>
      <a class="nav-link" href="{% url 'upscaler:index' %}">UpScaler</a>
      <a class="nav-link" href="{% url 'git' %}">GitHub</a>
      <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
    </nav>
  </div>
{% endblock header %}

{% block main %}
  <h1>Gold Rates</h1>
  <p class="lead">On this page you can see gold rates by date</p>
  <p class="lead">All data received from National Bank of Ukraine</p>
  <br>
  <p class="lead">
    <a href="{% url 'gold:dates' 1 %}" class="btn btn-lg btn-secondary fw-bold border-white bg-white">See gold rates</a>
  </p>
  <p>or you can subscribe on mailing in the telegram bot
    (<a class="text-white-50" href="https://t.me/grb_alexis_bot" target="_blank">click!</a>)<br>
    bot is currently unavailable :(
  </p>
{% endblock main %}

{% block footer %}
  <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
{% endblock footer %}
