{% extends "template/template.html" %}
{% block header %}
  <div>
    <h3 class="float-md-start mb-0">Gold Rates</h3>
    <nav class="nav nav-masthead justify-content-center float-md-end">
      <a class="nav-link" href="{% url 'index' %}">Home</a>
      <a class="nav-link" href="{% url 'towns:index' %}">Towns</a>
      <a class="nav-link" href="{% url 'pc_info:index' %}">PC_Info</a>
      <a class="nav-link" href="{% url 'weather_bot:index' %}">Weather Bot</a>
      <a class="nav-link active" aria-current="page" href="{% url 'gold:index' %}">Gold Rates</a>
      <a class="nav-link" href="{% url 'git' %}">GitHub</a>
      <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
    </nav>
  </div>
{% endblock header %}

{% block main %}
  <br>
  <a>Average Purchase rate: {{ rates.average_buy }}</a>
  <br>
  <a>Average Selling rate: {{ rates.average_sell }}</a>
  <table cellpadding="5" border="1">
    <thead>
      <tr>
        <th>Ingot denomination, gram</th>
        <th>Purchase rate, UAH / 1 gr.</th>
        <th>Selling rate, UAH / 1 gr.</th>
      </tr>
    </thead>
    <tbody>
      {% for w,b,s in rates.rates %}
      <tr>
        <td>{{ w }}</td>
        <td>{{ b }}</td>
        <td>{{ s }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock main %}

{% block footer %}
  <p>All data received from <a href="https://pb.ua" target="_blank" class="text-white">pb.ua</a></p>
{% endblock footer %}