{% extends "base.html" %}

{% block header %}
<div>
      <h3 class="float-md-start mb-0">Weather Bot</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link" href="{% url 'index' %}">Home</a>
        <a class="nav-link" href="{% url 'towns:index' %}">Towns</a>
        <a class="nav-link" href="{% url 'pc_info:index' %}">PC_Info</a>
        <a class="nav-link active" aria-current="page" href="{% url 'weather_bot:index' %}">Weather Bot</a>
        <a class="nav-link" href="{% url 'gold:index' %}">Gold Rates</a>
        <a class="nav-link" href="{% url 'git' %}">GitHub</a>
        <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
      </nav>
    </div>
{% endblock header %}

{% block main %}
    <h1>
      <h1>Weather Bot!</h1>
      <p>It's a simple weather telegram bot writed on Python
        <br>
        Data receives from Open Weather Map
      </p>
      <p>You can try it in telegram(<a class="text-white-50" href="https://t.me/alexis_weather_bot" target="_blank">click!</a>) or see his code in GitHub(<a class="text-white-50" href="https://github.com/holy-alexis/weather_bot" target="_blank">click!</a>)</p>
    </h1>
{% endblock main %}

{% block footer %}
    <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
{% endblock footer %}