{% extends "template/template.html" %}

{% block header %}
  <div>
    <h3 class="float-md-start mb-0">PC_Info</h3>
    <nav class="nav nav-masthead justify-content-center float-md-end">
      <a class="nav-link" href="{% url 'index' %}">Home</a>
      <a class="nav-link" href="{% url 'towns:index' %}">Towns</a>
      <a class="nav-link active" aria-current="page" href="{% url 'pc_info:index' %}">PC_Info</a>
      <a class="nav-link" href="{% url 'weather_bot:index' %}">Weather Bot</a>
      <a class="nav-link" href="{% url 'gold:index' %}">Gold Rates</a>
      <a class="nav-link" href="{% url 'git' %}">GitHub</a>
      <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
    </nav>
  </div>
{% endblock header %}

{% block main %}
  <div id="res"></div>
{% endblock main %}

{% block scripts %}
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
  <script>
      function sleep(ms) {
          return new Promise(resolve => setTimeout(resolve, ms));
      }

      
      var data;

      async function xD() {
          while (true) {
              $.ajax({
              url: "receive/",
              success : function(data) {
                  document.getElementById("res").innerHTML = data;
              },
          });
          await sleep(1000)
          }
      }

      xD()
  </script>
{% endblock scripts %}